<main class= "top-margin">
  <div class="d-flex align-items-center justify-content-center" style="height:300px">
    <p class="welcome-top text-white">
      ようこそ、ながのＣＡＫＥへ！<br/>
      このサイトは、ケーキ販売のＥＣサイトになります。<br/>
      会員でない方も商品の閲覧はできますが、<br/>
      購入には会員登録が必要になります。
    </p>
  </div>
  <div class="container">
    <div class="row">
      <thead>
        <h2>新着商品</h2>
      </thead>
    </div>
    <tbody>
      <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
        <% @items.last(4).each do |item| %>
          <%= link_to item_path(item.id) do %>
            <div class="card mb-3 shadow-sm">
              <p>
                <%= attachment_image_tag item, :image, size: "200x160" %>
              </p>
              <p><%= item.name %></p>
              <p>¥<%= item.price %> </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </tbody>
    <div class="row">
      <div class="text-right">
        <%= link_to "全ての商品を見る＞", items_path %>
      </div>
    </div>
  </div>
</main>