<div class="container">
  <div class=“row”>
    <div class="row"><h3>注文履歴一覧</h3></div>
    <table class="table table-bordered">
      <thead>
          <tr>
          <th scope=“col”>注文日</th>
          <th scope=“col”>配送先</th>
          <th scope=“col”>注文商品</th>
          <th scope=“col”>支払金額</th>
          <th scope=“col”>ステータス</th>
          <th scope=“col”>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <%= @orders.each do |order| %>
          <tr>
            <th scope=“row”><%= order.created_at %></th>
            <td>
              <%= order.postal_code %><br/>
              <%= order.address %><br/>
              <%= order.customer.last_name %><%= order.customer.farst_name %>
            </td>
            <td>
              <%= order.order_details.each do |order_detail| %>
                <div><%= order_detail.item.name %></div>
              <% end %>
            </td>
            <td><%= order.total_price %>円</td>
            <td><%= order.status %></td>
            <td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

