<div class ="container">
  <div class ="row">
    <div class="col-md-9 mt-5">

    <h3 class ="title">注文情報入力</h3>
      <h4>支払方法</h4>
      <div class ="item">
        <div>
          <%= form_with model: @order, url: orders_path, local: true do |f| %>
            <%= f.radio_button :way, Order.ways.key(0) %>
            <%= f.label :way, Order.ways_i18n["クレジットカード"] %>

            <%= f.radio_button :way, Order.ways.key(1) %>
            <%= f.label :way, Order.ways_i18n["銀行振込"]%>
        </div>
      </div>

      <h4 class ="mt-4">お届け先</h4>
      <div class ="item">
        <div class ="customer_address">
          <%= f.radio_button :address_option, 0 %>
          <%= f.label :ご自身のお届け先 %>
          〒<%= current_customer.address %>
        </div>
      </div>

      <div class ="record_address">
        <label>
          <%= f.radio_button :address_option, 0 %>
          <%= f.label :登録済住所から選択 %>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address), include_blank: "登録先住所から選択" %></br>
        </label>
      </div>

      <div class ="new_address">
        <label>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <%= f.radio_button :address_option, 2 %>
                <%= f.label :新しいお届け先 %>
                <td><%= f.label :郵便番号（ハイフンなし） %></td>
                <td><%= f.text_field :postal_code %></td>
              </tr>
              <tr>
                <td><%= f.label :住所 %></td>
                <td><%= f.text_field :address %></td>
              </tr>
              <tr>
                <td><%= f.label :宛名 %></td>
                <td><%= f.text_field :name %></td>
              </tr>
            </tbody>
          </table>
        </label>
      </div>
      <%= f.submit orders_confirm_path, '確認画面へ進む', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
