<div class ="container">
  <div class ="row">
    <div class="col-md-9 mt-5">

    <h3 class ="title">注文情報入力</h3>
      <h4>支払方法</h4>
      <div class ="item">
        <div>
          <%= form_with model: @order, url: orders_path, local: true do |f| %>
            <%= f.radio_button :way, Order.ways.key(0) %>
            <%= f.label :way, Order.ways_i18n["クレジットカード"] %>

            <%= f.radio_button :way, Order.ways.key(1) %>
            <%= f.label :way, Order.ways_i18n["銀行振込"]%>
        </div>
      </div>

      <h4 class ="mt-4">お届け先</h4>
      <div class ="item">
        <div class ="customer_address">
          <%= field_for 
          <%= f.radio_button :address, "a" %>
          <%= f.label :address, current_customer.address %>

          <label>
            ご自身の住所</br>
            〒<%= current_customer.address %></br>
          </label>
        </div>
      </div>

      <div class ="record_address">
        <label>
          <%= f.collection_select :customer_id, Address.all, :id, :address, include_blank: "登録先住所から選択" %></br>
        </label>
      </div>

      <div class ="new_address">
        <label></br>
          新しいお届け先</br>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>郵便番号(ハイフンなし)</td>
                <td><%= f.text_field %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= f.text_field %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= f.text_field %></td>
              </tr>
            </tbody>
          </table>
        </label>
      </div>
      <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
