<div class="container">
  <div class="col">
    <h2>会員一覧</h2>
  </div>
  <div class="col">
    <table class="table">
      <div class="row">
        <thead>
          <tr>
            <th scope="col">会員ID</th>
            <th scope="col">氏名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <th><%= customer.id %></th>
              <th><%= link_to admins_customer_path(customer.id) do %><%= customer.last_name %><%= customer.farst_name %><% end %></th>
              <th><%= customer.email %></th>
              <th>
                <% if customer.is_subscribed == false %>
                  <span class="text-success">有効</span>
                <% else %>
                  <span class="text-secondary">退会</span>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  </div>
</div>

<%= paginate @page %>