<div class="container">
  <div class="row">
    <h2><%= @customer.last_name %><%= @customer.farst_name %>さんの会員詳細</h2>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>会員ID</th>
        <th><%= @customer.id %></th>
      </tr>
      <tr>
        <th>氏名</th>
        <th><%= @customer.last_name %><%=@customer.farst_name %></th>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th><%= @customer.last_name_kana %><%=@customer.farst_name_kana %></th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th><%= @customer.postal_code %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= @customer.address %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= @customer.telephone_number %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <th>
          <% if @customer.is_subscribed == false %>
            <span class="text-success">有効</span>
          <% else %>
            <span class="text-secondary">退会</span>
          <% end %>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>
          <%= link_to "編集する", about_path, class:"btn btn-success btn-margin" %>
          <%= link_to "注文履歴一覧を見る", admins_orders_path, class:"btn btn-primary btn-margin" %>
        </th>
      </tr>
    </table>
  </div>
</div>