<div class="container">
  <div class="row">
    <thead>
      <h2>商品一覧 (全x件)</h2>
    </thead>
  </div>
  <tbody>
  <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">


        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

        <div class="card mb-3 shadow-sm">
          <p><%= image_tag "images.jpg", size: "200x160" %></p>
          <p>チョコレートケーキ</p>
          <p>¥3,000</p>
        </div>

    </div>
  </div>
  </tbody>
</div>