
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "ãªãŒã®ï¼£ï¼¡ï¼«ï¼¥", root_path, class:"navbar-brand border border-secondary" %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <% if customer_signed_in? %>
          <li><%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", customers_my_page_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "å•†å“ä¸€è¦§", items_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "ã‚«ãƒ¼ãƒˆ", cart_items_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_customer_session_path, method: :delete, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><input name="search" placeholder="searchã€€ðŸ”"></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "å•†å“ä¸€è¦§", admins_items_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "ä¼šå“¡ä¸€è¦§", admins_customers_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "æ³¨æ–‡å±¥æ­´ä¸€è¦§", admins_orders_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "ã‚¸ãƒ£ãƒ³ãƒ«ä¸€è¦§", admins_genres_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_admin_session_path, method: :delete, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><input name="search" placeholder="searchã€€ðŸ”"></li>
        <% else %>
          <li><%= link_to "About", about_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "å•†å“ä¸€è¦§", items_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "æ–°è¦ç™»éŒ²", new_customer_registration_path, class:"btn btn-light btn-outline-secondary btn-margin" %></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_customer_session_path,class:"btn btn-light btn-outline-secondary btn-margin" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>